* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
body {
    background-color: #ffffff;
}
h1 {
    display: inline-block;
    font-size: 48px;
    color: #ffffff;
}

h1 .seo {
    color: #d9dcd6;
}

h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

h3 {
    font-size: 36px;
    margin-bottom: 12px;
    text-align: center;
}
figure {
    height: 800px;
    margin-right: 20%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
img {
    display: block;
    margin: 10px auto;
    max-width: 300px;
    max-height: 300px;
}
a {
    color: #ffffff;
    text-decoration: none;
    padding-top: 15px;
    padding-left: 30px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

p {
    font-size: 24px;
}

aside {
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

section{
    margin-bottom: 32px;
    color: #ffffff;
}

main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

article {
    margin-bottom: 20px;
    margin-left: 20px;
    padding: 25px;
    height: 270px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    text-align: center;
    background-color: lightblue
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}